body {
	margin: 0;
	font-family: sans-serif;
	background: #000000;
	font-size: 11px;
	overflow: hidden;
}

header {
	padding: 1em;
}

.window {
	margin: 2em;
	display: inline-block;
	position: absolute;
	padding: 3px;
}

.window,
.window-content td 
{
	background: #686c75;
}

.window,
a,
.close-button,
.edit-button
{
	text-decoration: none;
	color: #ffffff;
}

.close-button,
.edit-button
{
	margin: 5px;
}

.window h1 {
	color: #ffd100;
	padding: 0.5em;
	margin: 0;
	font-size: 1em;
	cursor: move;
}

.window
{
	box-sizing: border-box;
	max-height: 100%;
	overflow-y: auto;
}

a
{
	display: inline-block;
	padding: 6px;
	margin: 3px;
	background: linear-gradient(to bottom, #878f9e 0%,#878f9e 50%,#646c7b 51%,#434b5a 100%);
}

.window,
a
{
	border-radius: 6px;
	border: 1px solid;
	border-bottom-color: #1d2028;
	border-right-color: #3b4049;
	border-top-color: #a5acb7;
	border-left-color: #989eac;
}

.close-button,
.edit-button
{
	cursor: pointer;
}

.window-editing .edit-button {
	color: #f00;
}

.window-content {
	padding: 0.3em;
	border-radius: 0 0 0.25em 0.25em;
	cursor: default;
}

.window p {
	margin: 0.5em;
}

.window ul {
	margin: 0.5em;
}

.window:not(.window-editing) .new-item-selection, .window:not(.window-editing) .new-item-button, .window:not(.window-editing) .delete-field {
	display: none;
}

.new-item-button {
	margin-left: 0.3em;
}

.data-value-unit {
	padding-left: 0.2em;
	display: inline-block;
}

ul
{
	list-style-type: none;
	padding: 0;
}
li
{
	display: block;
}
