body {
    margin: 0;
}

header {
    padding: 1em;
    
}

.window {
    margin: 2em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em #e0e0e0;
    display: inline-block;
    position: absolute;
}

.window h1 {
    padding: 0.5em;
    margin: 0;
    font-size: 1em;
    background-color: #f0f0f0;
    cursor: move;
    border-radius: 0.25em 0.25em 0 0;
}

.window h1 .close-button {
    float: right;
    cursor: pointer;
}

.window h1 .edit-button {
    float: right;
    cursor: pointer;
}

.window:not(.window-editing) .delete-field {
    display: none;
}

.window-editing .edit-button {
    color: #f00;
}

.window-content {
    padding: 0.3em;
    background-color: #f8f8f8;
    border-radius: 0 0 0.25em 0.25em;
    cursor: default;
}

.window-content td {
    background-color: #f8f8f8;
}

.window p {
    margin: 0.5em;
}

.window ul {
    margin: 0.5em;
}

#editor-selected-window {
    width: 100%;
}